<div class="top-container">
  <h1>
    <i class="fa-solid fa-book"></i>
    Welcome to Bookers
  </h1>

  <p>
    In
     <i class="fa-solid fa-book"></i>
     <strong>Bookers</strong>
    ,
  </p>

  <p>
    you can share and exchange your opinions , inpressions , and emotions
  </p>

  <p>
    about various books!</h2>
  </p>

  <% unless authenticated? %>
    <div class="top-actions">
      <%= link_to "Log in", new_session_path, class: "btn btn-login" %>
      <%= link_to "Sign up", new_user_path, class: "btn btn-signup" %>
    </div>
  <% end %>
</div>